<?xml version="1.0" encoding="UTF-8" ?>
<Configuration strict="true">
    <Properties>
        <Property name="log_filename">supply_chain_unrolled.log</Property>
    </Properties>

    <Appenders>

        <Appender type="File" name="singleFileAppender" fileName="supply_chain_unrolled.log">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>

        <RollingFile name="rollingFileAppender" fileName="supply_chain_rolled.log"
                     filePattern="$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="singleFileAppender"/>
        </Root>
    </Loggers>
</Configuration>